<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Myosteo</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ asset('bundles/cwsf2myosteo/css/bootstrap-1.2.0.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/cwsf2myosteo/css/myosteo.css') }}" rel="stylesheet" />
    
    <!-- Le javascript -->
    <script src="{{ asset('bundles/sonatajquery/jquery-1.4.4.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.6.custom.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/qtip/jquery.qtip-1.0.0-rc3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataadmin/base.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cwsf2myosteo/js/active-link.js') }}" type="text/javascript"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="{{ path('cwsf2_myosteo_home') }}">Myosteo</a></h3>
          <ul class="nav">
            <li><a href="{{ path('cwsf2_myosteo_home') }}">Accueil</a></li>
            {% if is_granted("ROLE_ADMIN") %}
              <li><a href="{{ path('cwsf2_myosteo_admin') }}">Administration</a></li>
            {% endif %}
          </ul>
          <ul class="nav secondary-nav">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
            {% else %}
              <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      
      {{ block('content') }}
      
      <footer>
        <p>&copy; Développé par <a href="http://twitter.com/switmeyer">Sylvain</a> & <a href="http://twitter.com/tzilliox">Thomas</a></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
